<center>
    <h1 id="welcome">Welcome Admin</h1>
</center>
<section>
    <table>
        <th id="highlight1">
            green
        </th>
        <td>enough waiters</td>
        <th id="highlight2">
            red
        </th>
        <td>more waiters needed</td>
        <th id="highlight3">
            orange
        </th>
        <td>slow down over enough waiters</td>
    </table>

</section>
<form class="" action="" method="post">
</form>
<br>
<br>
<table border='1'>
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>

    <tr>
        <td>
            {{#Monday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Monday}}
        </td>
        <td>
            {{#Tuesday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Tuesday}}
        </td>
        <td>
            {{#Wednesday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Wednesday}}
        </td>
        <td>
            {{#Thursday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Thursday}}
        </td>
        <td>
            {{#Friday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Friday}}
        </td>
        <td>
            {{#Saturday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Saturday}}
        </td>
        <td>
            {{#Sunday}}
                <ul>
                    <li>{{this}}</li>
                </ul>
            {{/Sunday}}
        </td>
    </tr>
</table>
<br><br><br><br>
<button type="button" name="button"><a href="waiters/">update days</a></button>
<br>
